<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo2_AutoResizing布局.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8566291C1D220F0E00E41BAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>856629351D220F0F00E41BAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>856629401D220F0F00E41BAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
