<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>库里</string>
	<string>汤普森</string>
	<string>格林</string>
	<string>伊戈达拉</string>
	<string>李文斯顿</string>
</array>
</plist>
