<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>库里季后赛三分首次被盖掉 在场勇士狂输39分</string>
		<key>newsImage</key>
		<string>n1.png</string>
		<key>commentCount</key>
		<string>1800</string>
	</dict>
	<dict>
		<key>title</key>
		<string>《蝙蝠侠大战超人：正义黎明》口碑为何两极分化？</string>
		<key>newsImage</key>
		<string>n2.png</string>
		<key>commentCount</key>
		<string>1670</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Dota2玩家不愿玩LOL，原因其实是这样的！</string>
		<key>newsImage</key>
		<string>n3.png</string>
		<key>commentCount</key>
		<string>17</string>
	</dict>
	<dict>
		<key>title</key>
		<string>读心术?6招教你如何看透一个人！</string>
		<key>newsImage</key>
		<string>n4.png</string>
		<key>commentCount</key>
		<string>172</string>
	</dict>
	<dict>
		<key>title</key>
		<string>lol 英雄联盟 如何戒掉LOL这款游戏 一位网友这么答</string>
		<key>newsImage</key>
		<string>n5.png</string>
		<key>commentCount</key>
		<string>4374</string>
	</dict>
	<dict>
		<key>title</key>
		<string>去迪拜当乞丐月入47万？在那打拼的中国人告诉你真相</string>
		<key>newsImage</key>
		<string>n6.png</string>
		<key>commentCount</key>
		<string>6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>霍建华林心如公布恋情，万万没想到受伤最深的不是胡歌，而是他！</string>
		<key>newsImage</key>
		<string>n7.png</string>
		<key>commentCount</key>
		<string>3467</string>
	</dict>
	<dict>
		<key>title</key>
		<string>武汉大学“校花”易主，丁婷婷取代黄灿灿</string>
		<key>newsImage</key>
		<string>n8.png</string>
		<key>commentCount</key>
		<string>59</string>
	</dict>
	<dict>
		<key>title</key>
		<string>她碾压范冰冰刘亦菲成亚洲第一美女</string>
		<key>newsImage</key>
		<string>n9.png</string>
		<key>commentCount</key>
		<string>1994</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这台车一般土豪养不起，一个轮胎就可以买辆宝马回家</string>
		<key>newsImage</key>
		<string>n10.png</string>
		<key>commentCount</key>
		<string>323</string>
	</dict>
</array>
</plist>
